.addNewPlanPage {
    background-color: #fff;
    padding: 2rem;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    color: #111;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .content {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    font-size: 1rem;
  }
  